.resultado{
  display: none;
}

.campo-juego{
  width: 100%;
  height: 500px;
  margin-top: 2%;
  border: 1px solid black;
}

.objetivo{
  width: 100px;
  height: 100px;
  background-color: pink;
  position: relative;

}
